{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-13">
            <header class="px-5 p-3">
                <h1>Edit Comment</h1>
            </header>
            <div class="mb-3">
                {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
            </div>

             <div class="mb-3">
                {{ include('comment/_delete_form.html.twig') }}
            </div>

            <a class="btn btn-primary" href="{{ path('comment_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
