{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <header class="mb-4">
                <h1>Comment</h1>
            </header>

            <section class="mb-5">
                <p class="fs-5 mb-4">{{ comment.user }}</p>
            </section>

            <section class="mb-5">
                <p class="fs-5 mb-4">{{ comment.content }}</p>
            </section>

            <section class="mb-5">
                {{ include('comment/_delete_form.html.twig') }}
            </section>
            <a class="btn btn-lg btn-primary" href="{{ path('comment_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
