{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container mt-5">
    <header class="mb-4">
        <h1 class="fw-bolder mb-2">Blog posts</h1>
    </header>

    <a href="{{ path('post_new') }}" class="btn btn-primary">Create new</a>

    {% for post in posts %}
    <div class="list-group list-group-flush">
        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn list-group-item list-group-item-action">{{ post.title }}</a >
    </div>
    {% else %}
    <div class="list-group list-group-flush">
        <a class=" btn list-group-item list-group-item-action">no records found</a >
    </div>
    {% endfor %}
</div>   
{% endblock %}
